<%- include('top.ejs') %>
<form action="<%= action %>" method="POST">
  <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" value="<%= doc.nome %>" />
  </div>
  <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone" value="<%= doc.telefone %>" />
  </div>
  <div class="form-group">
      <label for="curso">Curso</label>
      <input type="text" class="form-control" id="curso" name="curso" placeholder="Digite o curso" value="<%= doc.curso %>" />
  </div>
  <div class="form-group">
    <label for="periodo">Periodo</label>
    <input type="text" class="form-control" id="periodo" name="periodo" placeholder="Digite o periodo" value="<%= doc.periodo %>" />
</div>
<div class="form-group">
  <label for="faculdade">Faculdade</label>
  <input type="text" class="form-control" id="faculdade" name="faculdade" placeholder="Digite o faculdade" value="<%= doc.faculdade %>" />
</div>
<div class="form-group">
  <label for="estado">Estado</label>
  <input type="text" class="form-control" id="estado" name="estado" placeholder="Digite o estado" value="<%= doc.estado %>" />
</div>
<div class="form-group">
  <label for="cidade">Cidade</label>
  <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Digite o cidade" value="<%= doc.cidade %>" />
</div>
  <input type="submit" value="Salvar" class="btn btn-primary"/><a href="/" class="btn">Cancelar</a>
</form>
<%- include('bottom.ejs') %>

